body{
    background-color: black;
}
.headbar{
    height: 80px;
    background-color: rgb(53, 43, 43);
    border-bottom: 2px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: left;
    margin:0px;
    padding: 0px;
}
