@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
}

.headbar{
    height: 80px;
    background-color: rgb(26, 23, 23);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-left: 2px solid white;
    border-right:2px solid  white;
    border-top:2px solid white;
    border-bottom: 4px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px;
    padding: 0px;
    border-radius: 7px;
}
h1{
    margin: 15px;
}
h2{
    margin: 15px;
}
.upperline{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    font-size: x-large;
    padding-top: 8px;
    
    
}
.ult{
    text-decoration: none;
    padding-right: 45px;
    color: white;    
}
.upperline input[type="text"] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 3px;
    font-size: 17px;
    background-color: white;
    color: black;
    border-radius: 7px;
    outline: none;
    
}
input[type="search"]:focus {
    border-color: #008cba; 
  }
button{
    padding: 6px;
    margin-top: 8px;
    height: 32px;
    border-radius: 7px;
    border: none;
}
.reco h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    padding-top: 20px;

}